h1{
	height: 65px;
width: 249px;
left: 40804px;
top: 8911px;
border-radius: nullpx;
font-family: Nunito Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 65px;
letter-spacing: 0px;
text-align: center;

}